html
{
  box-sizing: border-box;
}

*,
*::before,
*::after
{
  box-sizing: inherit;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.btn {
  display: inline-block;
  min-width: 135px;
  vertical-align: top;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

body {
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.main-header {
  min-height: 320px;
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.main-header__top {
  background-color: #33445a;
}

.main-header__top .container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
	justify-content: space-between;
}

.logo-link {
  position: relative;
  display: inline-block;
  min-width: 220px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  background-color: #ff5357;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  vertical-align: top;
  padding-top: 7px;
  padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
}

.logo-link::after {
  content: "";
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: -5px;
	left: 0;
	background-color: #ff5357;
	box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.24);
}

.logo-link:hover {
  background-color: #ca2c37;
}

.search-form {
  width: 270px;
  position: relative;
}

.bookmarks,
.cart,
.checkout {
  display: block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
}

.bookmarks,
.cart {
  padding-left: 15px;
}

.bookmarks:hover,
.cart:hover,
.checkout:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active,
.checkout:active {
  background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.green {
  background-color: #63a63e;
}

.green:hover {
  background-color: #5fbb2d;
}

.green:active {
  background-color: #518534;
}

.bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  background-image: url("../img/icon-bookmark.svg");
  background-position: center;
  background-repeat: no-repeat;
  left: 17px;
  top: 12px;
  opacity: 0.3;
}

.bookmarks:hover::before {
  opacity: 1;
}

.cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  left: 18px;
  top: 12px;
  opacity: 0.3;
}

.cart:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}

.main-header__middle .container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 45px;
}

.main-title {
  width: 196px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ff5357;
  margin: 0;
  margin-left: 53px;
  margin-right: 71px;
  margin-top: 5px;
}

.contacts {
  width: 270px;
	margin-right: 69px;
}

.tel {
  display: block;
  width: 270px;
  border: 3px solid #ffffff;
  text-decoration: none;
  color: #fb463c;
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  padding: 11px;
  padding-left: 35px;
  position: relative;
  margin-bottom: 5px;
}

.tel::before {
  content: "";
  position: absolute;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #3d546e;
  margin: 0;
	text-align: center;
}

.user-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
	max-width: 300px;
}

.user-block__login {
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  text-align: center;
  line-height: 21px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-right: 25px;
  padding-left: 47px;
  background-color: #ffffff;
  margin-right: 10px;
}

.user-block__login::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  top: 15px;
  left: 15px;
  background-image: url("../img/icon-login.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.user-block__login:hover,
.user-block__reg:hover {
  color: #ee3643;
}

.user-block__login:hover::before {
  background-image: url("../img/icon-login-blue.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.user-block__login:active,
.user-block__reg:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block__login:active::before {
  background-image: url("../img/icon-login.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.user-block__reg {
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  text-align: center;
  line-height: 21px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #ffffff;
}

.main-nav {
  width: 100%;
  background-color: #32425c;
  margin-top: 37px;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-menu {
  padding: 0;
  padding-right: 19px;
  padding-left: 19px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
	color: #ffffff;
}

.main-menu__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 24px;
  padding-right: 31px;
  padding-left: 31px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
}

.main-menu__link:hover {
  background-color: #293449;
}

.main-menu__link:active {
  color: rgba(255, 255, 255, 0.5);
}

.disabled-link:hover {
  background-color: inherit;
}

.disabled-link:active {
  color: inherit;
}

.main {
  padding-top: 58px;
  padding-bottom: 86px;
}

.main .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
	margin-bottom: 53px;
}

.catalog-category {
  width: 300px;
  min-height: 122px;
  padding: 22px 22px;
  margin-bottom: 20px;
}

.catalog-category__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
}

.materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px center;
}

.tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px center;
}

.mechanism {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 190px center;
}

.sale {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 195px center;
}

.delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 195px center;
	margin-bottom: 0;
}

.catalog-category  .btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-category  .btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  width: 620px;
  height: 268px;
  background-color: lightblue;
	position: relative;
}

.prev-slide {
  width: 50px;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border: none;
	cursor: pointer;
}

.next-slide {
  right: 30px;
  width: 50px;
  height: 100%;
  position: absolute;
  background-color: transparent;
	border: none;
	cursor: pointer;
}

.prev-slide:active,
.next-slide:active {
  opacity: 0.5;
}

.popular-goods,
.popular-brands {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: flex-start;
}

.popular-goods__title,
.popular-brands__title {
  margin: 0;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	background-color: #f9f5f0;
	padding-left: 30px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	position: relative;
	width: 100%;
}

.popular-goods__title .btn,
.popular-brands__title .btn {
  position: absolute;
	right: 25px;
	top: 20px;
	width: 252px;
	background-color: #ee3643;
}

.catalog-item {
  width: 220px;
}

.brand {
	width: 220px;
	height: 115px;
	background-color: #ffffff;
	display: flex;
	border: 1px solid #000000;
	margin-bottom: 20px;
}

.brand__img {
  margin: auto;
}

.partners {
  list-style: none;
	margin: 0;
	padding: 0;
}

.partners__item {
  margin-bottom: 10px;
}

.partners__link {
  text-decoration: none;
	color: #000000;
	position: relative;
}

.partners__link::before {
  content: "";
	width: 30px;
	height: 2px;
	position: absolute;
	background-color: #ff5357;
	top: 10px;
	left: -45px;
}

.main-footer__top .container,
.main-footer__bottom .container {
  display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-footer__top {
  background-color: #32425c;
  padding-bottom: 51px;
}

.main-footer .logo-link {
  font-size: 30px;
  line-height: 30px;
  padding-top: 16px;
  padding-bottom: 19px;
  background-color: #ee3643;
  margin-bottom: 30px;
}

.main-footer .logo-link:hover {
  background-color: #ca2c37;
}

.footer-menu,
.catalog-nav {
  list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-menu {
  width: 550px;
  margin-top: 40px;
}

.footer-menu__link,
.footer__tel {
  color: #ffffff;
  text-decoration: none;
}

.footer__contacts {
  color: #ffffff;
  width: 325px;
  margin: 0;
}

.catalog-nav {
  width: 525px;
}

.catalog-nav__link {
  color: #ffd180;
  text-decoration: none;
}

.footer-menu__link:hover,
.catalog-nav__link:hover {
  text-decoration: underline;
}

.footer-menu__link:active,
.catalog-nav__link:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer__bottom {
  background-color: #293449;
  padding-top: 35px;
  padding-bottom: 31px;
}

.copyrights {
  width: 240px;
}

.copyrights__item {
  color: #ffffff;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.social {
  width: 135px;
}

.social__btn {
  font-size: 0;
	line-height: 0;
	display: inline-block;
  vertical-align: top;
	width: 41px;
	height: 41px;
	background-color: #212a3a;
	border-radius: 50%;
}

.social__btn:hover {
  background-color: #ee3643;
}

.social__btn:active {
  background-color: #ee3643;
}

.vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.inst {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback {
  width: 140px;
}

.feedback__item,
.developer__item {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.feedback__link,
.developer__link {
  color: #ffd180;
  text-decoration: none;
}

.feedback__link:hover,
.developer__link:hover {
  text-decoration: underline;
}

.feedback__link:active,
.developer__link:active {
  color: #ee3643;
  text-decoration: none;
}

.developer {
  width: 140px;
  text-align: center;
}
